@import "styles/_variables.scss";
@import "styles/_breakpoints.scss";

.menu {
    grid-column: 1 / span 8;
    padding: 0 1em;
    margin: 4em 0 8em;
    @media (min-width: $desktop_xsm) {
        grid-column: 3 / span 4;
        padding: 0;
      }
    &__title {
        font-size: $title;
        font-weight: 500;
        margin-bottom: 1em;
        text-transform: uppercase;
        color: $text;
    }
    &__text {
        font-size: $text;
        line-height: $lineHeigt;
        color: $text;
        margin-bottom: 2em;
    }
    &__containerButton {
        margin-top: 2em;
    }
}