$padding-h-mobile: 1.25em;
$padding-h-sm: 9.37em;
$padding-h-md: 12.5em;
$padding-h: 15.62em;

$dark: rgb(34,34,33);
$light: rgb(249, 246, 241);
$dark-grey: rgba(79,78,77,1);
$light-grey: rgba(210,214,217,1);
$background: rgb(252, 251, 248);
$footerBackground: rgba(223,218,209,1);
$text: rgba(23,63,137,1);

$primary: rgb(226, 102, 0);
$secondary: rgb(255, 217, 0);
$tertiary: rgba(23,63,137,1);

$shadow: rgba(34,34,33,.4);


$active: black;
$focus: black;
$error: red;
