$padding-h-mobile: 1.25em;
$padding-h-sm: 9.37em;
$padding-h-md: 12.5em;
$padding-h: 15.62em;

$dark: rgb(32,50,62);
$dark-grey: #878a8f;
$light-grey: rgb(228, 228, 228);
$background: #FCFCFC;
$backgroundHeader: rgba(251, 251, 251,0.95);
$wite: #ffffff;

$primary: rgba(245,127,32,1);
$secondary: rgba(255,238,0,1);
$tertiary: rgba(23,63,137,1);

$shadow: rgba(32,50,62,.3);

$label: rgba(black,.7);
$border: rgba(black,.3);

$active: black;
$focus: black;
$error: red;
