@import "styles/_variables.scss";
@import "styles/_breakpoints.scss";

.galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 1366px;
    margin-bottom: 2em;
    padding-top: 8em;
    @media (min-width: $desktop_xsm) {
        margin: 0 auto;
        padding-top: 12em;
    }
    &__container {
        grid-column: 1 / span 8;
        padding: 0 1em;
        @media (min-width: $desktop_xsm) {
            grid-column: 2 / span 6;
        }
        &__title {
            color: $text;
            font-size: $title;
            font-weight: 500;
            margin-bottom: 1em;
            text-transform: uppercase;
            @media (min-width: $desktop_xsm) {
                font-size: 2.5em;
            }
        }
        &__text {
            font-size: $textBody;
            line-height: $lineHeigt;
            color: $text;
            margin-bottom: 2em;
            @media (min-width: $desktop_xsm) {
                width: 50%;
            }
        }
    }
}