@import "styles/_variables.scss";
@import "styles/_breakpoints.scss";

.top {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    &__img {
        grid-column: 1 / span 8;
        grid-row: 1;
        padding-top: 88px;
        display: none;
    }
    &__info {
        grid-column: 1 / span 8;
        grid-row: 1;
        margin-top: 9em;
        transform: translate3d(0, 0, 0);
        padding: 2em 1em 8em;
        @media (min-width: $desktop_xsm) {
            grid-column: 2 / span 6;
            padding: 0;
        }
        &__title {
            color: $text;
            font-size: 3em;
            font-weight: 500;
            margin-bottom: .5em;
            text-transform: uppercase;
            @media (min-width: $desktop_xsm) {
                font-size: 4em;
            }
        }
        &__text {
            color: $light;
            display: block;
            font-size: 1.3em;
            font-weight: 300;
            line-height: 1.2;
            background-color: $primary;
            padding: .3em .5em;
            margin-top: .3em;
            @media (min-width: $desktop_xsm) {
                width: 65%;
            }
        }
        &__text2 {
            color: $light;
            display: block;
            font-size: 1.3em;
            font-weight: 300;
            line-height: 1.2;
            background-color: $primary;
            padding: .3em .5em;
            margin-top: .2em;
            @media (min-width: $desktop_xsm) {
                width: 45%;
            }
        }
        &__button {
            margin-top: 2em;
        }
    }
}
